 import java.util.Scanner;
    public class sayininTekCiftliginiBulma {
    public static void main(String[] args){
        Scanner input =new Scanner(System.in);
        int sayi1;

        System.out.print("Sayiyi Giriniz: ");
        sayi1= input.nextInt();

        if( sayi1 % 2 == 0) {
            System.out.println("Sayı Çifttir");
        }
        else {
            System.out.println("Sayı Tektir");
        }
    }
}
